/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    list-style: none;
}

.container {
    background-image: url(images/night.jpg);
    background-size: cover;
}

.clock-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 0 5rem 7rem;
}

.greeting {
    margin-top: auto;
    display: flex;
}

.greeting .icon-greeting {
    margin-right: .5rem;
}

.greeting p {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.time-container {
    display: flex;
    align-items: center;
}

.time-digit {
    display: flex;
    align-items: center;
    font-size: 9rem;
    font-family:"Heebo", sans-serif;
    font-weight: 700;
    /* border: 2px solid silver; */
    margin: -1.2rem 0 -1.8rem 0;
    margin-right: .5rem;
}

.time-of-day {
    font-size: 2rem;
    margin-top: 4.8rem;
}

.location {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 700;
}